PRIVATE_KEY=0x...

LITEFORGE_RPC_URL=https://liteforge.rpc.caldera.xyz/http
SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/YOUR_KEY
BASE_SEPOLIA_RPC_URL=https://sepolia.base.org

ETHERSCAN_API_KEY=
BASESCAN_API_KEY=

RELAYER_ADDRESS=0x...

UNISWAP_FACTORY=0x...
SWAP_ROUTER=0x...
NFT_POSITION_MANAGER=0x...
WETH_ADDRESS=0x...

MULTY_TOKEN=0x...
WZKLTC_ADDRESS=0x...
