RELAYER_PRIVATE_KEY=

LITEFORGE_RPC_URLS=https://liteforge.rpc.caldera.xyz/http
SEPOLIA_RPC_URLS=https://ethereum-sepolia-rpc.publicnode.com,https://0xrpc.io/sep,https://1rpc.io/sepolia,https://sepolia.rpc.sentio.xyz

BRIDGE_VAULT_ADDRESS=0x9929ED0EdA9ecF57BDAB6423B4b12cDe3317196d
WRAPPED_ZKLTC_ADDRESS=0x4320BB234A76f94F9eeDD0E81968668C6d29c39f
WRAPPED_ZKLTC_BASE_SEPOLIA_ADDRESS=0xB378f0359815ECEC5Ae3c5aC4c49c12b70931688

LITEFORGE_CHAIN_ID=4441
SEPOLIA_CHAIN_ID=11155111
BASE_SEPOLIA_CHAIN_ID=84532
BASE_SEPOLIA_RPC_URLS=https://sepolia.base.org,https://base-sepolia-rpc.publicnode.com,https://base-sepolia.drpc.org,https://base-sepolia.gateway.tenderly.co

POLL_INTERVAL_MS=2000
CONFIRMATION_BLOCKS=3
MAX_RETRIES=7

MINT_CONCURRENCY=8
MINT_BASE_SEPOLIA_CONCURRENCY=8
UNLOCK_CONCURRENCY=8

SUPABASE_URL=https://xxxxxx.supabase.co
SUPABASE_SERVICE_KEY=

ADMIN_PORT=3001
ADMIN_API_KEY=
